.container {
  margin-left: 156px;
  margin-top: 36px;
  width: 355px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 32px;
}

.container input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.container input:hover {
  border: 1px solid #000;
}

.container input:focus-visible {
  border: 1px solid #4e75ff;
  outline: none;
}

.container .is-disable {
  background: #fafafa;
  color: #808080;
}

.container .is-disable:hover {
  border: 1px solid #808080;
}

.container .is-disable:focus-visible {
  border: 1px solid #4e75ff;
  outline: none;
}

.container button {
  width: 75px;
  display: flex;
  border: none;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  color: #989898;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.container .is-active {
  background: #4e75ff;
  color: #fff;
}

.container .is-active:hover {
  background: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: #2e2f42;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

